
 /* * Body Background Color: #0B1215
 * Main Color: #101720
 * Secondary Color: #0e76ddff
 * Hover Color: #0b5fc2
 * ---
 * Oil Black: #0C0C0C
 * Rich Black: #020D19
 * Deep Navy Blue: #011222
 * Charcoal Gray: #171717 */

body {
  background-color: #0B1215;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
